<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="../../assets/images/logo.png" alt="image not found">
    </div>

    <ul class="nav navbar-nav">
      <li>
        <a class="nav-link-primary active"  href="">Pay With Visa</a>
      </li>
      <li>
        <a class="nav-link-primary active"  href="">Partner With Us</a>
      </li>
      <li>
        <a class="nav-link-primary active"  href="">Run Your Business</a>
      </li>
      <li>
        <a class="nav-link-primary active"  href="">Travel With Visa</a>
      </li>
      <li>
          <a class="nav-link-primary active" href="">Learn About Visa</a>
        </li>
    </ul>
  </div>
</nav>

<div class="navline">

    <div class="nav-indicator-bar" style="background-position: 2500px 0px;">
        <div class="nav-indicator" style="display: inline; left: 2500px;">
            <img src="../../assets/images/global-nav-indicator.png" alt="Navigation Indication" role="presentation">
        </div>
    </div>
</div>